[Desktop Entry]
Name=BamBam
Comment=Keyboard mashing and doodling game for babies and toddlers.
Exec=/usr/games/bambam --in-dedicated-session
TryExec=/usr/games/bambam
Icon=bambam
Type=Application
