[Desktop Entry]
Name[ca]=BamBam
Name[de]=BamBam
Name[eo]=BamBam
Name[es]=BamBam
Name[fr]=BamBam
Name[ko]=BamBam
Name[nb_NO]=BamBam
Name[pl]=BamBam
Name[tr]=BamBam
Name=BamBam
Comment[ca]=Per a que els nadons i els nens petits matxuquin el teclat i facin gargots.
Comment[de]=Ein Tastendrückspiel für Babys und Kleinkinder.
Comment[eo]=Klavaro-premaĉa kaj desegnaĉa ludo por beboj.
Comment[es]=Juego de teclado y garabatos para los bebés y los niños pequeños.
Comment[ko]=영유아를 위한 키보드 매싱 및 낙서 게임.
Comment[pl]=Gra w klawiaturę i bazgranie dla małych dzieci.
Comment[tr]=Bebekler ve küçük çocuklar için klavye ezme ve karalama oyunu.
Comment=Keyboard mashing and doodling game for babies and toddlers.
Exec=/usr/games/bambam --in-dedicated-session
TryExec=/usr/games/bambam
Icon=bambam
Type=Application
