[Desktop Entry]
Name=BamBam
Comment=Keyboard mashing and doodling game for babies
Exec=/usr/games/bambam
Icon=bambam
Terminal=false
Type=Application
Categories=Game;
