Source: bambam
Section: games
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Build-Depends: debhelper-compat (= 12), python3, dh-python, gettext
Standards-Version: 4.7.0
Homepage: https://github.com/porridge/bambam
Vcs-Git: https://github.com/porridge/bambam.git -b debian
Vcs-Browser: https://github.com/porridge/bambam

Package: bambam
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pygame
Description: keyboard mashing and doodling game for babies
 Bambam is a simple baby keyboard masher application that locks
 the keyboard and mouse and instead displays bright colors,
 pictures, and sounds.
 .
 Note: for safety it is recommended to run the game in a dedicated login
 session, rather than as an application in your regular session, especially
 when leaving your child unattended with the game. Look for session type BamBam
 in your display manager login screen.
